*.cache
*.log
*.o
*.status
*tar.gz
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/configure
/depcomp
/install-sh
/missing
trigger
/trigger.1
/debian/dirs
/debian/docs
/debian/files
/debian/trigger.substvars
